.text {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main-contaier {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.clickButton {
  padding: 0.5rem 1rem;
  border: 1px solid;
  box-shadow: 1px 2px 2px;
  border-radius: 20px;
  &:hover {
    background-color: rgb(179, 178, 177, 0.2);
  }
}

.isMaxClicked {
  background-color: rgba(202, 30, 165, 0.2);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.count-number {
  p {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
}
